@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;               
}

::-webkit-scrollbar-track {
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background-color: #555;  
  border-radius: 10px;      
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;   
}

* {
  scrollbar-width: thin;         
  scrollbar-color: #555 transparent;
}